* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.Home {
  text-align: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 124px;
  margin-right: 124px;
}

.navbar-link {
  width: 30%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  color: #183b56;
  text-decoration: none;
}

.btn-chat-with-me {
  height: 64px;
  width: 124px;
  font-size: 1em;
  color: #363131;
  border-radius: 7px;
  border: solid 1px #000000;
}

.cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.left-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 60vw;
  height: 100vh;
  margin-top: 120px;
}

.upper-left-main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: start; */
}
.hire-me {
  height: 90px;
  width: 219px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  line-height: 47px;
  text-align: center;
  background: #fe481b;
  border-radius: 7px;
  margin-right: 50px;
}

.CV-download {
  height: 90px;
  width: 315px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  border: 2px solid #ff9b70;
  border-radius: 10px;
}
#logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.follow-me {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 76px;
}

.follow-me p {
  font-size: 2.25em;
  margin-right: 20px;
  display: inline;
}

.why-hire {
  /* margin-top: 50px; */
  width: 107%;
  height: 347px;
  background: #183b56;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 700;
  font-size: 8rem;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.why-hire h1 {
  z-index: 100;
}
.orange-underline {
  position: absolute;
  background: #ff8345;
  opacity: 0.7;
}
.profile-pic {
  width: 36vw;
  height: 111.5vh;
  /* display: none; */
  object-fit: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
