* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.Home {
  text-align: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 7vw;
  margin-right: 7vw;
  height: 50%;
}

.navbar-link {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 500;
  color: #183b56;
  text-decoration: none;
}

.nav-home:hover {
  text-decoration: underline wavy 2.5px #fe481b;
}
.nav-why:hover {
  text-decoration: underline wavy 2.5px #fe481b;
}
.nav-ed:hover {
  text-decoration: underline wavy 2.5px #fe481b;
}
.nav-skills:hover {
  text-decoration: underline wavy 2.5px #fe481b;
}

.btn-chat-with-me {
  height: 64px;
  width: 150px;
  font-size: 1em;
  font-weight: 700;
  color: #363131;
  border-radius: 7px;
  border: solid 1px #000000;
}

.btn-chat-with-me:hover {
  background-color: #ff7c5b;
  color: #ffffff;
  border: 3px solid #ff7c5b;
  border-radius: 7px;
}

.cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}
.cover button:hover {
  background-color: #ff7c5b;
}

.left-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 60vw;
  height: 100vh;
  margin-top: 80px;
}
.fullStack {
  position: absolute;
  width: 300px;
  height: 50px;
  left: 370px;
  top: 225px;
  background: #5562ff;
  border-radius: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.upper-left-main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Hi */
.main-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 400%;
  line-height: 90px;
  color: #183b56;
  margin-left: 90px;
  position: "relative";
}

.btn-group {
  margin-left: 90px;
}
.main-description {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 35px;
  margin-left: 90px;
}

.hire-me {
  height: 60px;
  width: 120px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1em;
  color: #ffffff;
  line-height: 47px;
  text-align: center;
  background: #fe481b;
  border-radius: 7px;
  margin-right: 30px;
}

.CV-download {
  height: 60px;
  width: 150px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 1em;
  line-height: 54px;
  text-align: center;
  border: 2px solid #ff9b70;
  border-radius: 10px;
}
.CV-download:hover {
  color: #ffffff;
}

#logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.follow-me {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 76px;
  margin-left: 90px;
  margin-bottom: 50px;
}

.follow-me p {
  font-size: 2.25em;
  margin-right: 20px;
  display: inline;
}

.why-hire {
  width: 100%;
  height: 240px;
  background: #183b56;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 700;
  font-size: 500%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.why-hire h1 {
  z-index: 100;
  position: relative;
}

.hire {
  text-decoration: underline solid rgb(255, 131, 69, 0.7) 10px;
}
.orange-underline {
  background: #ff8345;
  opacity: 0.7;
  z-index: 20;
  position: relative;
  top: 20px;
  right: 373px;
  width: 180px;
  height: 40px;
}
.right-main {
  position: relative;
}
.quote {
  position: absolute;
  width: max-content;
  height: 98px;
  left: 60px;
  top: 60px;
  font-family: "DM Sans";
  font-size: 170%;
  line-height: 40px;
  color: #000000;
}

.line {
  position: absolute;
  width: 40px;
  height: 70px;
  z-index: 50;
  right: 200px;
  top: 170px;
  transform: rotate(-175deg);
}

.profile-pic {
  width: 45vw;
  height: 109vh;
  /* display: none; */
  object-fit: cover;
  z-index: 10;
}

/* จน Home */

.why-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0e3e387;
  height: 70vh;
}

.why-me-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 100vw;
  height: 60vh;
  margin-left: 40px;
  margin-right: 40px;
}
.why-1 {
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 20px;
  height: 90%;
  width: 30%;
  margin-top: 15px;
}
.why-2 {
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 20px;
  height: 90%;
  width: 30%;
  /* margin: 0 25px 0 25px; */
}
.why-3 {
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 20px;
  height: 90%;
  width: 30%;
  /* margin: 0 25px 0 25px; */
}
.why-me-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.why-me-img {
  height: 100px;
  width: 100px;
  margin: 40px 0px 50px 130px;
  align-content: center;
}

.why-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.2px;
  color: #183b56;
  margin: 0 50px 1.8rem 40px;
}

.why-description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.1875rem;
  color: #5a7184;
  margin: 20px 20px 0 40px;
}
/* 
.Tab {
  background-color: #fe481b;
  font-family: Poppins;
  border-radius: 10px;
  border: 2px solid white;
} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-family: "Poppins", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  .Home {
    text-align: center;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4vw;
    margin-right: 4vw;
    height: 30%;
  }
  #home {
    font-size: 12px;
  }

  .navbar-link {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #183b56;
    text-decoration: none;
  }

  .nav-home:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }
  .nav-why:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }
  .nav-ed:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }
  .nav-skills:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }

  .btn-chat-with-me {
    height: 40px;
    width: 120px;
    font-size: 1em;
    font-weight: 700;
    color: #363131;
    border-radius: 7px;
    border: solid 1px #000000;
  }

  .btn-chat-with-me:hover {
    background-color: #ff7c5b;
    color: #ffffff;
    border: 3px solid #ff7c5b;
    border-radius: 7px;
  }

  .cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60%;
  }
  .cover button:hover {
    background-color: #ff7c5b;
  }

  .left-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 60vw;
    height: 100vh;
    margin-top: 10px;
  }
  .fullStack {
    position: absolute;
    width: 180px;
    height: 25px;
    left: 230px;
    top: 135px;
    background: #5562ff;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
  }

  .upper-left-main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 230%;
    line-height: 35px;
    color: #183b56;
    margin-left: 70px;
    position: "relative";
    margin-bottom: 10px;
    margin-top: px;
  }

  .btn-group {
    margin-left: 70px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .main-description {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-left: 70px;
    margin-bottom: 10px;
  }

  .hire-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 100px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    background: #fe481b;
    border-radius: 7px;
    margin-right: 30px;
  }

  .CV-download {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 120px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    border: 2px solid #ff9b70;
    border-radius: 10px;
  }
  .CV-download:hover {
    color: #ffffff;
  }

  #logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .follow-me {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 76px;
    margin-left: 70px;
    margin-bottom: 70px;
  }

  .follow-me p {
    font-size: 2.25em;
    margin-right: 20px;
    display: inline;
  }
  .white-line2 {
    display: none;
  }
  .why-hire {
    width: 100%;
    height: 130px;
    background: #183b56;
    color: #ffffff;
    font-family: Poppins;
    font-weight: 700;
    font-size: 300%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 65px;
  }

  .why-hire h1 {
    z-index: 100;
    position: relative;
  }

  .hire {
    text-decoration: underline solid rgb(255, 131, 69, 0.7) 10px;
  }
  .orange-underline {
    background: #ff8345;
    opacity: 0.7;
    z-index: 20;
    position: relative;
    top: 20px;
    right: 373px;
    width: 180px;
    height: 40px;
  }
  .right-main {
    position: relative;
  }
  .quote {
    position: absolute;
    width: max-content;
    height: 98px;
    left: 60px;
    top: 30px;
    font-family: "DM Sans";
    font-size: 100%;
    line-height: 20px;
    color: #000000;
  }
  .line {
    position: absolute;
    width: 40px;
    height: 70px;
    z-index: 50;
    right: 290px;
    top: 70px;
    transform: rotate(-175deg);
    display: none;
  }

  .profile-pic {
    width: 50vw;
    height: 119vh;
    /* display: none; */
    object-fit: cover;
    z-index: 10;
  }

  /* จน Home */

  .why-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0e3e387;
    height: 70vh;
  }

  .why-me-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    height: 50vh;
    margin-left: 40px;
    margin-right: 40px;
  }
  .why-1 {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 20px;
    height: 90%;
    width: 30%;
    margin-top: 15px;
  }

  .why-2 {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 20px;
    height: 90%;
    width: 30%;
    /* margin: 0 25px 0 25px; */
  }
  .why-3 {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 20px;
    height: 90%;
    width: 30%;
    /* margin: 0 25px 0 25px; */
  }
  .why-me-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .why-me-img {
    height: 50px;
    width: 50px;
    margin: 20px 0px 20px 90px;
    align-content: center;
  }

  .why-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.1rem;
    letter-spacing: 0.2px;
    color: #183b56;
    margin: 0 30px 12px 30px;
  }

  .why-description {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #5a7184;
    margin: 0 30px 12px 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-family: "Poppins", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  .Home {
    text-align: center;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 7vw;
    margin-right: 7vw;
    height: 50%;
  }

  .navbar-link {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 500;
    color: #183b56;
    text-decoration: none;
  }

  .nav-home:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }
  .nav-why:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }
  .nav-ed:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }
  .nav-skills:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }

  .btn-chat-with-me {
    height: 64px;
    width: 150px;
    font-size: 1em;
    font-weight: 700;
    color: #363131;
    border-radius: 7px;
    border: solid 1px #000000;
  }

  .btn-chat-with-me:hover {
    background-color: #ff7c5b;
    color: #ffffff;
    border: 3px solid #ff7c5b;
    border-radius: 7px;
  }

  .cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80%;
  }
  .cover button:hover {
    background-color: #ff7c5b;
  }

  .left-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 60vw;
    height: 100vh;
    margin-top: 80px;
  }
  .fullStack {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 290px;
    top: 205px;
    background: #5562ff;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }

  .upper-left-main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 350%;
    line-height: 80px;
    color: #183b56;
    margin-left: 50px;
    position: "relative";
  }

  .btn-group {
    margin-left: 50px;
    margin-bottom: 30px;
  }
  .main-description {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 25px;
    margin-left: 50px;
    margin-bottom: 30px;
  }

  .hire-me {
    height: 60px;
    width: 120px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1em;
    color: #ffffff;
    line-height: 47px;
    text-align: center;
    background: #fe481b;
    border-radius: 7px;
    margin-right: 30px;
  }

  .CV-download {
    height: 60px;
    width: 150px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1em;
    line-height: 54px;
    text-align: center;
    border: 2px solid #ff9b70;
    border-radius: 10px;
  }
  .CV-download:hover {
    color: #ffffff;
  }

  #logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .follow-me {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 76px;
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .follow-me p {
    font-size: 2.25em;
    margin-right: 20px;
    display: inline;
  }

  .why-hire {
    width: 100%;
    height: 240px;
    background: #183b56;
    color: #ffffff;
    font-family: Poppins;
    font-weight: 700;
    font-size: 400%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .why-hire h1 {
    z-index: 100;
    position: relative;
  }

  .hire {
    text-decoration: underline solid rgb(255, 131, 69, 0.7) 10px;
  }
  .orange-underline {
    background: #ff8345;
    opacity: 0.7;
    z-index: 20;
    position: relative;
    top: 20px;
    right: 373px;
    width: 180px;
    height: 40px;
  }
  .right-main {
    position: relative;
  }
  .quote {
    position: absolute;
    width: max-content;
    height: 98px;
    left: 60px;
    top: 60px;
    font-family: "DM Sans";
    font-size: 140%;
    line-height: 35px;
    color: #000000;
  }
  .line {
    position: absolute;
    width: 40px;
    height: 70px;
    z-index: 50;
    right: 200px;
    top: 140px;
    transform: rotate(-175deg);
  }

  .profile-pic {
    width: 50vw;
    height: 109vh;
    /* display: none; */
    object-fit: cover;
    z-index: 10;
  }

  /* จน Home */

  .why-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0e3e387;
    height: 70vh;
  }

  .why-me-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100vw;
    height: 58vh;
    margin-left: 40px;
    margin-right: 40px;
  }
  .why-1 {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 20px;
    height: 90%;
    width: 30%;
    margin-top: 15px;
  }

  .why-2 {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 20px;
    height: 90%;
    width: 30%;
    /* margin: 0 25px 0 25px; */
  }
  .why-3 {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 20px;
    height: 90%;
    width: 30%;
    /* margin: 0 25px 0 25px; */
  }
  .why-me-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .why-me-img {
    height: 100px;
    width: 100px;
    margin: 40px 0px 40px 100px;
    align-content: center;
  }

  .why-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.2px;
    color: #183b56;
    margin: 0 50px 1.8rem 40px;
  }

  .why-description {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #5a7184;
    margin: 20px 20px 0 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-family: "Poppins", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  .Home {
    text-align: center;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 7vw;
    margin-right: 7vw;
    height: 50%;
  }

  .navbar-link {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 500;
    color: #183b56;
    text-decoration: none;
  }

  .nav-home:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }
  .nav-why:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }
  .nav-ed:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }
  .nav-skills:hover {
    text-decoration: underline wavy 2.5px #fe481b;
  }

  .btn-chat-with-me {
    height: 64px;
    width: 150px;
    font-size: 1em;
    font-weight: 700;
    color: #363131;
    border-radius: 7px;
    border: solid 1px #000000;
  }

  .btn-chat-with-me:hover {
    background-color: #ff7c5b;
    color: #ffffff;
    border: 3px solid #ff7c5b;
    border-radius: 7px;
  }

  .cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80%;
  }
  .cover button:hover {
    background-color: #ff7c5b;
  }

  .left-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 60vw;
    height: 100vh;
    margin-top: 80px;
  }
  .fullStack {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 370px;
    top: 225px;
    background: #5562ff;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
  }

  .upper-left-main {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 400%;
    line-height: 90px;
    color: #183b56;
    margin-left: 90px;
    position: "relative";
  }

  .btn-group {
    margin-left: 90px;
  }
  .main-description {
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 35px;
    margin-left: 90px;
  }

  .hire-me {
    height: 60px;
    width: 120px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1em;
    color: #ffffff;
    line-height: 47px;
    text-align: center;
    background: #fe481b;
    border-radius: 7px;
    margin-right: 30px;
  }

  .CV-download {
    height: 60px;
    width: 150px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1em;
    line-height: 54px;
    text-align: center;
    border: 2px solid #ff9b70;
    border-radius: 10px;
  }
  .CV-download:hover {
    color: #ffffff;
  }

  #logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .follow-me {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 76px;
    margin-left: 90px;
    margin-bottom: 50px;
  }

  .follow-me p {
    font-size: 2.25em;
    margin-right: 20px;
    display: inline;
  }

  .why-hire {
    width: 100%;
    height: 240px;
    background: #183b56;
    color: #ffffff;
    font-family: Poppins;
    font-weight: 700;
    font-size: 500%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .why-hire h1 {
    z-index: 100;
    position: relative;
  }

  .hire {
    text-decoration: underline solid rgb(255, 131, 69, 0.7) 10px;
  }
  .orange-underline {
    background: #ff8345;
    opacity: 0.7;
    z-index: 20;
    position: relative;
    top: 20px;
    right: 373px;
    width: 180px;
    height: 40px;
  }
  .right-main {
    position: relative;
  }
  .quote {
    position: absolute;
    width: max-content;
    height: 98px;
    left: 60px;
    top: 60px;
    font-family: "DM Sans";
    font-size: 170%;
    line-height: 40px;
    color: #000000;
  }
  .line {
    position: absolute;
    width: 40px;
    height: 70px;
    z-index: 50;
    right: 200px;
    top: 170px;
    transform: rotate(-175deg);
  }

  .profile-pic {
    width: 45vw;
    height: 109vh;
    /* display: none; */
    object-fit: cover;
    z-index: 10;
  }

  /* จน Home */

  .why-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0e3e387;
    height: 70vh;
  }

  .why-me-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100vw;
    height: 60vh;
    margin-left: 40px;
    margin-right: 40px;
  }
  .why-1 {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 20px;
    height: 90%;
    width: 30%;
    margin-top: 15px;
  }
  .why-2 {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 20px;
    height: 90%;
    width: 30%;
    /* margin: 0 25px 0 25px; */
  }
  .why-3 {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 20px;
    height: 90%;
    width: 30%;
    /* margin: 0 25px 0 25px; */
  }
  .why-me-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .why-me-img {
    height: 100px;
    width: 100px;
    margin: 40px 0px 50px 130px;
    align-content: center;
  }

  .why-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.2px;
    color: #183b56;
    margin: 0 50px 1.8rem 40px;
  }

  .why-description {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.1875rem;
    color: #5a7184;
    margin: 20px 20px 0 40px;
  }
}
