* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.Home {
  text-align: center;
}
#home {
  height: 130px;
}
.mind-head {
  display: inline;
  flex-direction: row;
  justify-content: center;
  font-weight: 700;
  font-size: 3em;
}
.mind-head-point {
  font-weight: 700;
  font-size: 1em;
  display: inline;
  color: #fe481b;
}
.nav-bar-line {
  border: 3px solid rgba(0, 0, 0, 0.09);
  margin-left: 7vw;
  margin-right: 7vw;
  align-content: start;
  width: 45vw;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 7vw;
  margin-right: 7vw;
}

.navbar-link {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.7rem;
  font-weight: 500;
  color: #183b56;
  text-decoration: none;
}

.nav-home:hover {
  text-decoration: underline wavy 2.5px #fe481b;
}
.nav-why:hover {
  text-decoration: underline wavy 2.5px #fe481b;
}
.nav-ed:hover {
  text-decoration: underline wavy 2.5px #fe481b;
}
.nav-skills:hover {
  text-decoration: underline wavy 2.5px #fe481b;
}

.btn-chat-with-me {
  height: 70%;
  width: 18%;
  font-size: 1.8em;
  font-weight: 700;
  color: #363131;
  border-radius: 7px;
  border: solid 1px #000000;
}

.btn-chat-with-me:hover {
  background-color: #ff7c5b;
  color: #ffffff;
  border: 3px solid #ff7c5b;
  border-radius: 7px;
}

.cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}
.cover button:hover {
  background-color: #ff7c5b;
}

.left-main {
  /* background-color: #000000; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 60vw;
  height: 90vh;
}

.fullStack {
  position: absolute;
  width: 24%;
  height: 2.3%;
  left: 545px;
  top: 270px;
  background: #5562ff;
  border-radius: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.2em;
  text-align: center;
  color: #ffffff;
}

.upper-left-main {
  margin-bottom: 80px;
  padding-top: 0px;
  margin-left: 70px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Hi */
.main-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 700%;
  line-height: 110%;
  color: #183b56;
  position: "relative";
}

.main-description {
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 130%;
}

.hire-me {
  height: 140%;
  width: 20%;
  font-family: Poppins;
  font-weight: 700;
  font-size: 2em;
  color: #ffffff;
  line-height: 47px;
  text-align: center;
  background: #fe481b;
  border-radius: 7px;
  margin-right: 30px;
}

.CV-download {
  height: 140%;
  width: 30%;
  font-family: Poppins;
  font-weight: 500;
  font-size: 2em;
  line-height: 54px;
  text-align: center;
  border: 2px solid #ff9b70;
  border-radius: 10px;
}
.CV-download:hover {
  color: #ffffff;
}

#logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 40px;
  /* height: ; */
}

.follow-me {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20%;
  width: 50%;
}

.fb-logo {
  height: 100%;
  margin-right: 45px;
}

.fb-logo :hover {
  background-color: #183b56;
  cursor: pointer;
}

.github-logo {
  height: 80px;
  margin-right: 50px;
}
.linkedin-logo {
  width: 100px;
  margin-right: 0px;
}

.instagram-logo {
  height: 100px;
  /* width: 80px; */
  margin-right: 45px;
  object-fit: fill;
}
.why-hire {
  width: 100%;
  height: 160%;
  background: #183b56;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 700;
  font-size: 700%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.why-hire h1 {
  z-index: 100;
  position: relative;
}
.why-hire-small {
  display: none;
}
.blue-box {
  display: none;
}
.hire {
  text-decoration: underline solid rgb(255, 131, 69, 0.7) 10px;
}

.right-main {
  position: relative;
}
.quote {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 150px;
  top: 100px;
  font-family: "DM Sans";
  font-size: 220%;
  line-height: 130%;
  color: #000000;
}

.line {
  position: absolute;
  width: 10%;
  height: 8%;
  z-index: 50;
  right: 200px;
  top: 220px;
  transform: rotate(-175deg);
}

.profile-pic {
  width: 45vw;
  height: 109vh;
  object-fit: cover;
  z-index: 10;
}

/* จน Home */
.why-me-whole {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f0e3e387;
  height: 75vh;
}

.why-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.why-me-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 40vh;
}
.why-1 {
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 20px;
  height: 120%;
  width: 25%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.why-2 {
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 20px;
  height: 120%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.why-3 {
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 20px;
  height: 120%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.why-me-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.why-me-quote {
  font-family: "DM Sans";
  font-size: 2.3em;
  width: 90vw;
  text-align: center;
  margin-top: 1em;
}

.why-me-img {
  height: 150px;
  width: 150px;
  /* margin: 44px 0px 30px 100px; */
  align-content: center;
}

.why-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.3rem;
  letter-spacing: 0.2px;
  color: #183b56;
  margin: 0 50px 1rem 40px;
}

.why-description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  width: 80%;
  font-size: 1.8rem;
  line-height: 2.1875rem;
  color: #5a7184;
  margin: 10px 40px 0px 40px;
}

.ed-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.head-edWork {
  height: 40vh;
}

.green-thing {
  position: relative;
  left: 100px;
  bottom: 250px;
}

.yellow-thing {
  position: relative;
  left: 1283px;
  top: 800px;
}

.title-ed {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 109px;
  color: #183b56;
  margin-left: 25%;
  margin-top: 4.2%;
  /* height: min-content; */
  position: absolute;
  z-index: 20;
}
.title-ed-small {
  display: none;
}
.work-underline {
  text-decoration: underline solid rgb(255, 131, 69, 0.7) 10px;
}

.tab {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  width: 90%;
  align-content: center;
  height: 90%;
  z-index: 9999;
}
.tab-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 0.75rem;
  background-color: rgb(31, 57, 138, 0.2);
  height: 10%;
  width: 100%;
}
.tab-normal {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: #183b56;
  font-size: 3rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 160%;
  border-radius: 0.5rem;
  height: 100%;
}

.tab-cliked {
  --ring-color: #ffffff;
  --ring-opacity: 0.6;
  --ring-offset-width: 2px;
  box-shadow: 0 0 0 var(--ring-offset-width) var(--ring-offset-color),
    var(--ring-shadow);
  --ring-offset-color: #60a5fa;
}

.tab-c {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.tab-c {
  /* color: #dbeafe; */
  color: black;
}

.tab-d:hover {
  color: #ffffff;
}

.tab-panel {
  margin-top: 0.5rem;
  height: 500px;
}

.tab-panel-a {
  padding: 0.75rem;
  /* background-color: #ffffff; */
  border-radius: 0.75rem;
  height: 620px;
}

.tab-panel-b {
  --ring-color: #ffffff;
  --ring-opacity: 0.6;
  --ring-offset-width: 2px;
  box-shadow: 0 0 0 var(--ring-offset-width) var(--ring-offset-color),
    var(--ring-shadow);
  --ring-offset-color: #60a5fa;
}

/* #headlessui-tabs-tab {
  width: 100em;
}

#headlessui-tabs-panel {
  height: 100em;
} */

.post.id {
  position: relative;
  padding: 5rem;
  border-radius: 0.375rem;
}
.post-id:hover {
  background-color: #f3f4f6;
}
.head-edWork {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffe6;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  height: 50%;
}
.head-works {
  height: 35vh;
}

.post-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  padding-top: 1rem;
  border-top-left-radius: 5rem;
}

.p-date {
  font-weight: 500;
  font-size: 1.75rem;
  padding: 1rem;
  border-top-right-radius: 10rem;
}

.post-description {
  font-size: 1.25rem;
  margin-bottom: 2em;
  background-color: #ffffffe6;
  padding: 1rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

/* .post-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.25rem;
  color: #6b7280;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 1em;
} */

.something-a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.375rem;
}
.something-b {
  --ring-color: #60a5fa;
}
.something-b:focus {
  z-index: 10;
  outline-style: none;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mind-head {
    font-size: 1em;
  }
  .navbar {
    justify-content: flex-start;
  }
  #home {
    height: 7vh;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
  }
  .navbar-link {
    width: 300px;
    font-size: small;
  }
  .nav-bar-line {
    width: 90vw;
    margin-left: 30px;
    border: 2px solid rgba(0, 0, 0, 0.09);
  }
  .btn-chat-with-me {
    display: none;
  }
  .left-main {
    height: 36vh;
    width: 100vw;
  }
  .upper-left-main {
    margin-left: 60px;
  }
  .main-heading {
    font-size: 3.5em;
    width: 100%;
    margin-top: 7%;
  }
  .main-description {
    font-size: 1em;
    width: 100%;
  }
  .cover {
    flex-direction: column;
    width: 100vw;
  }
  .fullStack {
    width: 35%;
    height: 1.3%;
    font-size: 1em;
    top: 132px;
    left: 300px;
  }
  .hire-me {
    height: 140%;
    width: 30%;
    font-size: 1em;
    line-height: 0;
    margin-bottom: 0.5em;
  }
  .CV-download {
    height: 140%;
    width: 30%;
    font-size: 1em;
    line-height: 0;
  }
  .btn-group {
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .follow-me {
    width: 100%;
  }
  #logos {
    margin-top: 30px;
    width: max-content;
    margin-left: 0;
  }
  .fb-logo {
    height: 40px;
  }
  .github-logo {
    height: 35px;
    margin-right: 35px;
  }
  .linkedin-logo {
    height: 35px;
    width: 40px;
    margin-right: 20px;
  }
  .instagram-logo {
    height: 55px;
  }
  .why-hire {
    /* height: 20%;
    width: 60%;
    font-size: 2em; */
    display: none;
  }
  .right-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile-pic {
    width: 100vw;
    height: 70vh;
    margin: 0;
    position: relative;
  }
  .quote {
    font-size: 1.7em;
    z-index: 20;
    top: 45px;
    left: 75px;
  }
  .line {
    display: none;
  }
  .why-me-whole {
    display: inline-block;
    height: 176vh;
    justify-content: center;
    align-items: center;
  }
  .why-hire-small {
    position: relative;
    bottom: 80px;
    z-index: 20;
    width: 100vw;
    height: 10vh;
    background: #183b56;
    color: #ffffff;
    font-family: Poppins;
    font-weight: 700;
    font-size: 300%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 3em;
    /* border-bottom-right-radius: 3em; */
  }
  .why-hire-small h3 {
    margin-left: 50px;
  }

  .hire-small {
    text-decoration: underline solid rgb(255, 131, 69, 0.7) 10px;
  }
  .why-me-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140vh;
  }
  .why-me-img {
    height: 120px;
    width: 120px;
  }
  .why-1 {
    width: 70vw;
    margin-top: 0px;
    height: 70vh;
  }

  .why-2 {
    width: 70vw;
    margin-top: 50px;
    height: 70vh;
  }

  .why-3 {
    width: 70vw;
    margin-top: 50px;
    height: 70vh;
  }
  .why-me-content {
    width: 60vw;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .why-heading {
    font-size: 2.5em;
    width: 60vw;
    margin: 0;
  }
  .why-description {
    font-size: 1.5em;
    width: 60vw;
    margin: 0;
    margin-top: 20px;
  }
  .why-me-quote {
    font-size: 2em;
    /* width: 80vw; */
    margin-right: 0px;
    margin-left: 20px;
  }
  .title-ed {
    display: none;
  }
  .title-ed-small {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    display: block;
    font-size: 2.8em;
    width: max-content;
    margin-left: 70px;
    margin-top: 30px;
  }
  .main-ed {
    height: 0vh;
  }
  .head-edWork {
    height: 5vh;
  }
  .head-works {
    height: 16vh;
  }
  .tab-normal {
    font-size: 2em;
    line-height: 1em;
  }
  .post-title {
    font-size: 1.3em;
    line-height: 1.2em;
    padding-top: 3em;
    padding-bottom: 2em;
  }
  .p-date {
    font-size: 0.9em;
  }
  .yellow-thing {
    left: -350px;
    top: 630px;
    scale: 170%;
  }
  .green-thing {
    top: -500px;
    scale: 50%;
    left: 200px;
  }
}
